doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./dist/bootstrap.css')
    script(src='./dist/jquery.min.js')
    script(src='./dist/bootstrap.min.js')
  body
    block content
