<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content center-block center-text">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title">Unit Id: {{unitId}} Opening Hours</h4>
      </div>
      <div class="modal-body">
         <h4 ng-bind-html="trustedHours" ></h4>
      </div>
        <div class="modal-footer">
          <h4 class="modal-title center-text">{{isOpen}}</h5>
          <button type="button" ng-click="ok()" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
    </div>
  </div>
</div>
